name: CI-CD (Build, Tests, Quality, Docker)

on:
  push:
    branches: ["main", "develop"]
  pull_request:
    branches: ["main", "develop"]

jobs:
  build-test-quality:
    name: Build + Tests + Quality (Checkstyle/SpotBugs)
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: events

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"
          cache: maven

      - name: Build + Tests + Quality
        run: mvn -B clean verify


      - name: Upload JAR artifact
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: app-jar
          path: events/target/*.jar

  docker-build:
    name: Docker Build (no push)
    needs: build-test-quality
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./events
          file: ./events/Dockerfile
          push: false
          tags: studentevents:ci

  docker-push:
    name: Docker Build + Push (Docker Hub)
    needs: build-test-quality
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build and Push Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./events
          file: ./events/Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/studentevents:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/studentevents:${{ github.sha }}